--extra-index-url https://download.pytorch.org/whl/cu128
pydantic
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
whisperx==3.8.6
pyannote-audio==4.0.7
torchcodec==0.7.0
edge-tts
pydub
srt
python-dotenv
transformers>=5.6.0
audioop-lts
demucs
pyinstaller
PySide6-Essentials==6.11.1

